@import "tailwindcss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #000;
  color: #e5e5e5; /* neutral-200 */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #171717; /* neutral-900 */
}

::-webkit-scrollbar-thumb {
  background: #404040; /* neutral-700 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525252; /* neutral-600 */
}
